extends layout

block content
    - let len = posts.length
    h1= title
    h1= len
    ul
        each post, num in posts
            b= num
            - let threadUrl = prefix + '/b/res/' + post.parent + '.html';
            a(href=threadUrl)
                | thread
            | #{post.comment}
            each file in post.files
                - let thumbnail = prefix + file.thumbnail;
                - let path = prefix + file.path;
                a(href=path)
                    img(src=thumbnail)
            | <br>
            |
            |



